#leftnav{
    position: fixed;
    margin-right: 50px;
}
#leftnav li{
    padding: 10px;
    color: #9a9a9a;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
#leftnav a{
   text-decoration: none;
   color: #9a9a9a;
}
#leftnav a:hover{
    
}
#list{
    display: block;
    list-style-type: none;
    background-color: #1d1d1d;
    padding: 75px 25px 0px 25px;
    height: 100vh;
    width: 250px;
    margin: -10px;
}
#circle{
     width:200px;
    height: 170px;
    padding-left: 20px;
    margin-top: -40px;
    margin-bottom: 25px;
}
#table1{
    margin: 0 auto;
    padding-left: 300px;
}
#right{
    width: %100;
    margin-left: 290px;
    text-align: center;
}

.slideshow{
    height: 350px;
    width: 50vw;
    max-width: 800px;
    margin-top: 100px;
    background-color: #E98977;
    display: inline-block;

}
#textbox{
    margin: 0 auto;
    margin-top: 150px;
    padding: 50px;  
    width: 650px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}
#textbox p{
    font-family: 'Lato', sans-serif;
    width:600px;
    display: inline-block;
} 
.pages{
    width: 80vw;
    height: 600px;
    text-align: center;
}
#web{
    margin: 200px 0px 0px 0px;
    background-color: #F4E9D9;
    width: 100%;
}
#web table{
    margin-top: 150px;
    display: inline-block;   
}
#art table{
    display: inline-block;
    margin-top: 150px; 
    margin-bottom: 150px;
}
.boxes{
    height: 200px;
    width: 200px;
    margin: 50px;
    background-color: #E98977;
}
.boxes2{
    height: 200px;
    width: 200px;
    margin: 50px;
    background-color: #E98977;   
}
table img{
     width: 250px;
    height: 250px;
    border-radius: 150px;
    margin: 45px;
}
#web table{
    diaply: block;
     margin: 0 auto;   
}
.ch-grid{
	padding: 0;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid td {
	width: 250px;
	height: 250px;
    margin: 45px;
	display: inline-block;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 20px rgba(255,255,255,0.4),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
.ch-img-1 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/162508/screenshots/2053238/onboarding2_1x.png);
}

.ch-img-2 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/37624/screenshots/2053540/koolkatz_1x.jpg);
}

.ch-img-3 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/237814/screenshots/2053276/jt_contradictory-world_final_drib-1_1x.jpg);
}
.ch-info {
	position: absolute;
	background: rgba(240,140,104, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
