#leftnav{
    position: fixed;   
}
#leftnav li{
    padding: 10px;
    color: #9a9a9a;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
#leftnav a{
   text-decoration: none;
   color: #9a9a9a;
}
#leftnav a:hover{
    
}
#list{
    display: block;
    list-style-type: none;
    background-color: #1d1d1d;
    padding: 75px 25px 0px 25px;
    height: 100vh;
    margin: -10px;
}

table{
    margin: 0 auto;
    
}
#circle{
    border: none;
    border-radius: 50%;
	width: 150px;
	height: 150px; 
    background-color: #000;
    margin: 50px 0px 50px 10px;
    
    vertical-align: middle;
}
.textBox{
    width: 200px;
    height: 45px;
    border-bottom: 1px solid
    black;   
    border-top: 1px solid black;
    margin: 50px 50px 0px 50px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}
#right li{
    display: inline-block;
    
   
} 
#right ul{
    display: block;
    vertical-align: middle;    
    margin: 0 auto;
    width: 400px;
    height: 50px;
    
}
#right a{
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    text-align: center;
    color: white;
    background-color: #1d1d1d;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.hover:hover{
    background-color: #545454;
}

    
}
