/* Left Navigation Bar*/
#leftnav{
    position: fixed;
    margin-right: 50px;
}
#leftnav li{
    padding: 10px;
    color: #9a9a9a;
    font-family: 'Lato', sans-serif;
    list-style-type: none;
}
#leftnav a{
   text-decoration: none;
   color: #9a9a9a;
}
#leftnav a:hover{
    
}
#list{
    display: block;
    list-style-type: none;
    background-color: #1d1d1d;
    padding: 75px 25px 0px 25px;
    height: 100vh;
    width: 250px;
    margin: -10px;
}
#circle{
     width:200px;
    height: 170px;
    padding-left: 20px;
    margin-top: -40px;
    margin-bottom: 25px;
}


#top{
    height: 100vh;
    min-height: 1000px;
    margin-left: 290px;
    margin-bottom: -200px;
    text-align: center;
}
#bottom{
    margin-left: 290px;
    text-align: center;
}
/*slideshow*/

.slides ul{
    text-decoration: none;
     list-style-type: none;
}
.colorbox{
    height: 350px;
    width: 600px;
    margin-top: 100px;
    display: inline-block;
}
#colorbox1{
    background-color: #E98977;
}
#colorbox2{
    background-color: #F8F4D7;

}
#colorbox3{
    background-color: #9ECBFF ;

}
#colorbox4{
    background-color: #F2B4A8 ;

}

.slideshow-wrapper {
    width:704px;
    overflow:hidden;
    margin: 0 auto;
}

.slideshow-wrapper ul {
    margin:0;
    padding:0;
    width: 2840px; /* 710 * 4 */
        -webkit-animation: slideshow 20s infinite;
        -moz-animation: slideshow 20s infinite;
        -o-animation: slideshow 20s infinite;
    animation: slideshow 20s infinite;
}
.slides .slide-image {
    width:700px;
    display:inline-block;
    margin:0;
    padding:0;
}
.slides .slide-image img {
    width: 100%;
}

.transition-all {
        -webkit-transition: all 5s;
        -moz-transition: all 5s;
        -o-transition: all 5s;
    transition: all 5s;
}
				
				/* Animation */
@-webkit-keyframes slideshow {
    0%    { margin-left: 0.5%; }
    25%   { margin-left: -100%; }
    50%   { margin-left: -200%; }
    75%   { margin-left: -300%; }
}
@-moz-keyframes slideshow {
     0%   	{ margin-left: 0.5%; }
     25% 	{ margin-left: -100%; }
     50% 	{ margin-left: -200%; }
     75% 	{ margin-left: -300%; }
}
@-o-keyframes slideshow {
    0%   	{ margin-left: 0.5%; }
    25% 	{ margin-left: -100%; }
    50% 	{ margin-left: -200%; }
    75% 	{ margin-left: -300%; }
}

@keyframes slideshow {
    0%   	{ margin-left: 0.5%; }
    25% 	{ margin-left: -100%; }
    50% 	{ margin-left: -200%; }
    75% 	{ margin-left: -300%; }
}
				

/* paragraph*/ 

#textbox{
    margin: 0 auto;
    margin-top: 150px;
    padding: 50px;  
    width: 50vw;
    max-width: 750px;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}
#textbox p{
    font-family: 'Lato', sans-serif;
    width:45vw;
    max-width: 700px;
    display: inline-block;
} 

/*circle link areas*/

.pages{
    padding-top: 50px;
    width: %100;
    height: 450px;
    text-align: center;
}
#web{
    margin: 200px 0px 0px 0px;
    background-color: #F4E9D9;
    width: 100%;
}
#web table{
     margin-top: -35px;   
}

/* circle links*/

.ch-grid{
    margin: 0 auto;
    padding: 50px;
    display: inline-block;
	text-align: center;
    margin-bottom: 0px;
}

.ch-grid td {
	width: 220px;
	height: 220px;
    margin: 50px;
	display: inline-block;
}
.ch-item {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 20px rgba(255,255,255,0.4),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
/* ch-img 1-6: bottom section; ch-img 7-9: top section*/
.ch-img-1 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/162508/screenshots/2053238/onboarding2_1x.png);
}

.ch-img-2 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/37624/screenshots/2053540/koolkatz_1x.jpg);
}

.ch-img-3 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/237814/screenshots/2053276/jt_contradictory-world_final_drib-1_1x.jpg);
}
.ch-img-4 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/21415/screenshots/2053515/birds_1x.jpg);
}
.ch-img-5 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/485324/screenshots/2054221/open-uri20150508-11-h24y5d_1x);
}
.ch-img-6 { 
	background-image: url(https://d13yacurqjgara.cloudfront.net/users/283823/screenshots/2053409/party_icons_1x.png);
}
.ch-img-7 { 
	background-image: url(http://www.cssdesignawards.com/cdasites/2012/201212/20121211011520.jpg);
}
.ch-img-8 { 
	background-image: url(http://www.1stwebdesigner.com/wp-content/uploads/2011/02/nathan-sanders-online-portfolio.jpg);
}
.ch-img-9 { 
	background-image: url(http://skillcrush.com/wp-content/uploads/2013/03/term-portfolio.jpg);
}
.ch-info {
	position: absolute;
	background: rgba(240,140,104, 0.9);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}

/*responsive design*/
@media screen and (max-width: 1390px) and (min-width: 1250px) {
    .ch-grid td {
        margin: 2vw;
    }
    
@media screen and (max-width: 1249px) {
    
}
    
    
